/* Variaveis */
:root {
    --background-light:#FFF1E9;
    --background-medium:#ca967a;
    --line-medium:#bb876b;
    --enfase-1-100:#BF7839;    
    --enfase-2-100:#73351F;
    --border-radius-medium:5px;
    --margin-minimum:9px;
    --margin-small:5px;
}

form input {
    padding: 6px 9px;
    border-radius: var(--border-radius-medium);
    border: 1px solid var(--line-medium);
    margin-top:var(--margin-small);
  
}

.display-flex-row-justify-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.display-flex-column-justify-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.align-flex-start{
    display: flex;
    align-items: flex-start;
}

body{
    background-color: white;
}
