/* Variaveis */
:root {
    --background-light:#FFF1E9;
    --enfase-1-100:#BF7839;    
    --enfase-2-100:#73351F;
    --border-radius-medium:5px;
    --margin-minimum:9px;
}

.display-flex-center-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

.display-flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display-flex-justify-center{
    display: flex;
    flex-direction: column;
}

.align-flex-start{
    display: flex;
    align-items: flex-start;
}



body{
    background-color: white;
}

.container{
    background-color:var(--background-light);
    border-radius: var(--border-radius-medium);
    margin: var(--margin-minimum);
    width: 100%;
}
