.login{
    width: 50%;
    display: flex;
    justify-content: center;
}

.img{
    width: 50%;
    background-color: var(--background-medium);
    margin:var(--margin-minimum);
    border-radius: var(--border-radius-medium);
    box-shadow: 1px 1px black;
}