.login{
    width: 50%;
    display: flex;
    justify-content: center;
}

.img{
    width: 50%;
    background-color: grey;
    margin:var(--margin-minimum);
    border-radius: var(--border-radius-medium);
}