
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius-medium);
    width: 100%;
    height: 100%;
}

.main-container {
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 25px var(--background-medium);
    background-color: var(--soft-grey);
    width: 30%;
    height: 60%;

}

.nav{
    padding: 16px var(--padding-default);
    border-top-right-radius: var(--border-radius-medium);
    border-top-left-radius: var(--border-radius-medium);
}

.content{
    border-radius: var(--border-radius-medium);
    background-color: var(--soft-white);
    height: 100%;
}